#root, html, body {
	background-color: #da7756;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	text-align: center;
	font-family: 'Verdana', 'Geneva', sans-serif;
}