@import './Globals.css';

#home-container {
  width: 100%;
  height: 100%;
}

#home-top {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 3% 0;
}

#home-top .search-bar, #new-job-btn button {
  width: 100%;
}

.job-list-container {
  display: block;
  width: 100%;
  height: 100%;
}

.custom-table {
  border-collapse: collapse;
  border: 1px solid var(--table-border-color);
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 2% 0;
  table-layout: fixed; /* Ensure consistent column widths */
}

.custom-table th {
  padding: 0.5em;
  background-color: var(--color-secondary);
  border-bottom: 1px solid var(--color-third);
  text-align: center;
  word-break: break-word; /* Prevent long words from breaking layout */
}

.custom-table td {
  padding: 0.5em;
  border-bottom: 1px solid var(--table-border-color);
  background-color: var(--color-primary);
  color: black;
  text-align: center;
  word-break: break-word; /* Prevent long words from breaking layout */
}

.custom-table th:nth-child(1),
.custom-table td:nth-child(1) {
  width: 15%; /* Adjust width for "Submitted At" */
}

.custom-table th:nth-child(2),
.custom-table td:nth-child(2) {
  width: 10%; /* Adjust width for "Status" */
}

.custom-table th:nth-child(3),
.custom-table td:nth-child(3) {
  width: 20%; /* Adjust width for "Title" */
}

.custom-table th:nth-child(4),
.custom-table td:nth-child(4) {
  width: 15%; /* Adjust width for "Company" */
}

.custom-table th:nth-child(5),
.custom-table td:nth-child(5) {
  width: 12%; /* Adjust width for "URL" */
}

.custom-table th:nth-child(6),
.custom-table td:nth-child(6) {
  width: 13%; /* Adjust width for "Location" */
}

.custom-table th:nth-child(7),
.custom-table td:nth-child(7) {
  width: 15%; /* Adjust width for "Actions" */
}

.custom-link {
  color: #000; /* Black text for links */
  text-decoration: none;
}

.custom-link:hover {
  text-decoration: underline;
}

.custom-action-button {
  background-color: #bd5d3a;
  color: #fff;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.custom-action-button:hover {
  background-color: #aa473b;
}

.custom-black-action-button {
  background-color: #000;
  color: #fff;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.custom-black-action-button:hover {
  background-color: #444; /* Darker black on hover */
}

.custom-delete-button {
  background-color: var(--delete-button-color);
  color: #fff;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-delete-button:hover {
  background-color: var(--delete-button-hover-color);
}

table #actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

table #actions a {
  width: 100%;
  margin: 1% 0;
  text-decoration: none;
}

table #actions button {
  width: 100%;
}

table td {
  font-size: 18px;
}

form button, a {
  width: 100%;
}

.desktop-table {
  display: block;
}

.mobile-card-list {
  display: none;
}

@media only screen and (max-width: 768px) {
  .desktop-table {
    display: none;
  }
  .mobile-card-list {
    display: block; /* Ensure the cards are visible on mobile */
    width: 100%;  /* Fill the container */
    margin-top: 1%; /* Add some margin for better spacing */
  }
}

.mobile-card {
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--color-primary);
  color: black;
}

.mobile-card .card-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.mobile-card .card-info, .mobile-card .card-actions {
  margin-top: 1em;
}

.mobile-card .card-info p {
  margin-bottom: 0.3em;
}

.mobile-card .card-info p span {
  color: var(--color-secondary);
  font-weight: bold;
}