/* * {
  outline: 1px dashed red;
} */

body {
  background-color: #979797;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #5523AA;
  padding: 0.5%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

nav .btn-danger {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:link, a:visited {
  color: white;
}

nav .btn:hover {
  transform: scale(1.2);
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 2% 1%;
}

main h1 {
  width: 100%;
  color: white;
}

main form {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main form div {
  width: 100%;
}

main form div label {
  width: 30%;
  font-size: 1.5rem;
}

main form div input, select {
  width: 50%;
}

main form select {
  border-radius: 3px;
}

main #actions button {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

main #update-btn {
  background-color: #6A3CAA;
  border: #6A3CAA;
  color: white;
  margin: 1%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

main #delete-btn a {
  text-decoration: none;
  color: white;
}
