/* * {
  outline: 1px dashed red;
} */

html {
  height: 100%;
}

body {
  background-color: #5523AA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  height: 100%;
}

main #login h2, label {
  color: white;
}

main #registration h2, label {
  color: white;
}

main #login button {
  color: #5523AA;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

main #registration button {
  color: #5523AA;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

main #register-link {
  width: 100%;
  text-decoration: none;
  color: #5523AA;
}

main #login-link {
  width: 100%;
  text-decoration: none;
  color: #5523AA;
}

main #login h2, form, button {
  margin: 2% 1%;
}

main #registration h2, form, button {
  margin: 2% 1%;
}

@media only screen and (max-width: 1280px) {

  main {
    transform: scale(2);
    font-size: 200%;
  }

  main .messages {
    font-size: 50%;
  }

  main h2 {
    font-size: 200%;
  }

}
