/* * {
  outline: 1px dashed red;
} */

body {
  background-color: #979797;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #5523AA;
  padding: 0.5%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

nav .btn-danger {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:link, a:visited {
  color: white;
}

nav .btn:hover {
  transform: scale(1.2);
}

body #title {
  display: flex;
  justify-content: center;
  margin: 2%;
  color: white;
}

body form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2%;
}

body form textarea {
  width: 100%;
}

body form button {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

body form .btn-light{
  width: 25%;
  background-color: #6A3CAA;
  border: none;
  color: white;
  margin-top: 2%;
}

body form .btn-light:hover {
  color: #6A3CAA;
}
