@model App.Models.Job

@{
    ViewData["Title"] = "Notes";
}

<div class="text-center">
    <div class="container mx-auto px-4">
        <h4 class="text-xl font-semibold mb-4">Notes</h4>
        
        @if (Model != null && !string.IsNullOrEmpty(Model.Note))
        {
            <div class="overflow-x-auto">
                <p>@Model.Note</p>
            </div>
        }
        else
        {
            <p class="text-gray-600">No notes found.</p>
        }
        
        <a asp-action="EditNotes" asp-controller="Job" asp-route-id="@Model.Id" class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-4">Edit Notes</a>
    </div>
</div>

<div class="mt4 text-center">
    <a asp-action="Index" asp-controller="Home" class="text-indigo-600 hover:underline">Go Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}