<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Find Jobs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/jobs_style.css' %}">
  </head>
  <body>

    <nav>
      <button class="btn"><a href="/jobs">Job Search</a></button>
      <button class="btn"><a href="/tracker_app">Applications</a></button>
      <button class="btn btn-danger"><a href="/logout">Logout</a></button>
    </nav>

    <main>

      {% if num_pages == 0 %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert" id="no-jobs-alert">
        <strong>No Jobs Found!</strong> We could not find any job postings with the given parameters.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}

      <form action="/search_job" method="post" type="post" enctype="multipart/form-data" id="search_job_form">
        {% csrf_token %}
        <input type="text" name="what" placeholder="What"/>
        <input type="text" name="where" placeholder="Where"/>
        <button class="btn btn-primary" type="submit">Find Jobs</button>
      </form>

      <div id="jobs">
      {% for job in jobs %}
        <div id="job-card">
          <b>{{ job.title | safe }}</b>
          <p><b>Company:</b> {{ job.company }}</p>
          <p><b>Location:</b> {{ job.location }}</p>
          <p>{{ job.description | safe }}</p>
          <form action="/set_job" method="post" type="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="title" value="{{ job.title | safe }}"/>
            <input type="hidden" name="company" value="{{ job.company }}"/>
            <input type="hidden" name="location" value="{{ job.location }}"/>
            <input type="hidden" name="url" value="{{ job.url }}"/>
            <button type="submit" class="btn">View Job</button>
          </form>
        </div>
      {% endfor %}
      </div>

      <div id="paginator">
      {% if jobs.has_previous %}
        <a class="btn" href="{% url 'job_search_logic' %}?page={{ jobs.previous_page_number }}">Previous Page</a>
      {% endif %}
      {% if jobs.has_next %}
        <a class="btn" href="{% url 'job_search_logic' %}?page={{ jobs.next_page_number }}">Next Page</a>
      {% endif %}
        <div id="page-nums" class="hide">
        {% for num in page_range%}
          <a class="btn" href="/search_job?page={{ num }}">{{ num }}</a>
        {% endfor %}
        </div>
      </div>


    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
