<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Application Tracker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/tracker_app_style.css' %}">
  </head>
  <body>

    <nav>
      <button class="btn"><a href="/jobs">Job Search</a></button>
      <button class="btn"><a href="/tracker_app">Applications</a></button>
      <button class="btn btn-danger"><a href="/logout">Logout</a></button>
    </nav>

    <main>

      <h3>Your Applications</h3>

      <table class="table table-hover" id="apps-table">
        <thead>
          <tr>
            <th>Status</th>
            <th>Position</th>
            <th>Company</th>
            <th>Job URL</th>
            <th>Location</th>
            <th class="hide">Date Submitted</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% if user_jobs|length < 1 %}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {% endif %}
          {% for job in user_jobs %}
          <tr>
            <td>{{ job.status }}</td>
            <td>{{ job.title | safe }}</td>
            <td>{{ job.company }}</td>
            {% if job.url != "None Provided" %}
              <td><a href="{{ job.url }}" target="_blank" rel="noopener noreferrer">Go to Job Post</a></td>
            {% else %}
              <td><a target="_blank" rel="noopener noreferrer">None Provided</a></td>
            {% endif %}
            <td>{{ job.location }}</td>
            <td class="hide">{{ job.date_submitted }}</td>
            <td id="actions">
              <form action="/tracker_app/edit_job/{{ job.id }}" enctype="multipart/form-data">
                {% csrf_token %}
                <button class="btn btn-light">Edit</button>
              </form>
              <form action="/tracker_app/notes/{{ job.id }}">
                {% csrf_token %}
                <button class="btn btn-light">Notes</button>
              </form>
            </td>
          </tr>
          {% endfor %}
          </div>
        </tbody>
      </table>

      <div id="table-paginator">
      {% if user_jobs.has_previous %}
        <a href="{% url 'render_tracker_app' %}?table_page={{ user_jobs.previous_page_number }}">Previous Page</a>
      {% endif %}
      {% if user_jobs.has_next %}
        <a href="{% url 'render_tracker_app' %}?table_page={{ user_jobs.next_page_number }}">Next Page</a>
      {% endif %}
      </div>

      <div id="add-job">
        <a href="/tracker_app/new_job_form" class="btn btn-light">Add a Job</a>
      </div>

      <div id="jobs-viewed">
        {% if viewed_jobs|length > 0 %}
          <h6>Jobs Viewed:</h6>
        {% endif %}

        {% for job in viewed_jobs %}
        <div id="job-card">
          <p>{{ job.title | safe }} at {{ job.company }}</p>
          <p>Location: {{ job.location }}</p>
          <form action="/tracker_app/handle_viewed_job/{{ job.id }}" method="post" type="post" enctype="multipart/form-data">
            {% csrf_token %}
            <span id="viewed-jobs-prompt">Add to table?</span>
            <label for="applied?">Yes</label>
            <input type="radio" name="applied?" value="yes"/>
            <label for="applied?">No</label>
            <input type="radio" name="applied?" value="no"/>
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
        {% endfor %}

        <div id="paginator">
        {% if viewed_jobs.has_previous %}
          <a href="{% url 'render_tracker_app' %}?page={{ viewed_jobs.previous_page_number }}">Previous Page</a>
        {% endif %}
        {% if viewed_jobs.has_next %}
          <a href="{% url 'render_tracker_app' %}?page={{ viewed_jobs.next_page_number }}">Next Page</a>
        {% endif %}
        </div>

      </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
