@page "/add-job"
@rendermode InteractiveServer

<PageTitle>Add a Job App</PageTitle>

<h1>Add a Job Application</h1>

<button class="btn btn-primary" @onclick="SubmitForm">Submit</button>

@code {
    private void SubmitForm()
    {
        Console.WriteLine("Submitted");
    }
}
