@page "/new-job"
@rendermode InteractiveServer

<PageTitle>Add Job</PageTitle>

<h1>Add Job</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
