@page "/add-job"
@rendermode InteractiveServer

<PageTitle>Add a Job</PageTitle>

<h1>Add a Job</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
